<div class="modal-body wrapper-lg" ng-controller="EditProfileCtrl">
  <div class="row">
    <div class="col-sm-12">
      
      <form name="form" >
        <!-- <div class="form-group" ng-show="addOrEditKey == 'add'">
          <label>ID</label>
          <input type="text" class="form-control" placeholder="Enter id" ng-model="item.id">
        </div> -->
        <div class="form-group">
          <label>登录名</label>
          <input name="loginname" type="text" class="form-control" placeholder="输入登录名" ng-model="item.loginname" required>
          <span class="error" ng-show="form.$dirty && form.loginname.$error.required">必须输入项</span>
        </div>
        <div class="form-group">
          <label>姓名</label>
          <input name="name" type="text" class="form-control" placeholder="输入姓名" ng-model="item.name" required>
          <span class="error" ng-show="form.$dirty && form.name.$error.required">必须输入项</span>
        </div>
        <div class="form-group">
          <label>密码</label>
          <input name="password" type="password" class="form-control" placeholder="输入密码" ng-model="item.password" ng-minlength=6>
          <span class="error" ng-show="form.$dirty && form.password.$error.minlength">最小长度为6</span>
        </div>
        <div class="form-group">
          <label>密码确认</label>
          <input name="password2" type="password" class="form-control" placeholder="输入确认密码" ng-model="item.password2">
          <span class="error" ng-show="!confirmPwdValidate">两次密码输入不同</span>
        </div>
        <div class="form-group">
          <label>电子邮箱</label>
          <input name="email" type="text" class="form-control" placeholder="输入电子邮箱" ng-model="item.email" email-validate required>
          <span class="error" ng-show="form.$dirty && form.email.$error.required">必须输入项</span>
          <span class="error" ng-show="form.$dirty && form.email.$invalid">邮箱格式错误</span>
        </div>
        <!-- <div class="form-group">
          <label>性别</label>
          <input name="sex" type="text" class="form-control" placeholder="输入性别" ng-model="item.sex" required>
          <span class="error" ng-show="form.$dirty && form.sex.$error.required">必须输入项</span>
        </div> -->
        <div class="form-group">
		  <label for="sex"> 性别: </label>
          <select name="sex" id="sex" class="form-control" ng-model="selectedOption.sex"
          ng-options="option.itermValue for option in sexList track by option.itermKey" required>
              <option value=""></option>
              <!-- <option ng-repeat="option in carTypeList" value="{{option.itermKey}}">{{option.itermValue}}</option> -->
          </select>
          <span class="error" ng-show="!sexValidate">必须输入项</span>
        </div>
        <div class="form-group">
          <label>手机</label>
          <input name="phone" type="text" class="form-control" placeholder="输入手机号码" ng-model="item.phone" phone-validate required>
          <span class="error" ng-show="form.$dirty && form.phone.$invalid">请正确输入手机号码</span>
          <span class="error" ng-show="form.$dirty && form.phone.$error.required">必须输入项</span>
        </div>
        
        <div class="button m-t-lg">
          <button type="submit" class="btn btn-success m-t-n-xs" ng-click="save()" ng-disabled="!form.$valid"><strong>保存</strong></button>
          <button type="submit" class="btn btn-default m-t-n-xs" ng-click="cancel()"><strong>取消</strong></button>
        </div>
        
      </form>
    </div>

  </div>
</div>